html, body, #root {
  height: 100%;
}

body {
  background-color: #CEC7C7;
  margin: 0; padding: 0;
}

.centered-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 10px 10px 10px 10px;
  min-height: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex: 1
}

button {
  display: flex;
  justify-content: space-around;
  background-color: #0079d3;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: .5px;
  height: 56px;
  width: 250px;
  margin-top: 20px;
}

button:hover {
  background-color: #3393DC;
  cursor: pointer;
}

input[type='checkbox'] {
  margin-right: 10px;
}