.header {
    display: flex;
    align-items: center
}

.header img {
    width: 100px;
    height: 100px;
}

.header div {
    font-size: 300%;
}

.header button {
    position: absolute;
    top: 0%;
    right: 3%;
    width: 15%;
}